{% load static %}

<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ftravel - Đặt tour du lịch</title>
    <link rel="stylesheet" href="{% static 'assets/global.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/home.css'%}" />
    <!-- Flatpickr -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
      flatpickr("#departureDate", {
        dateFormat: "d-m-Y",
        minDate: "today",
        locale: "vn",
      });
    </script>
    {%block css%}
    {% endblock %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
        <!-- Header -->
    <header class="header">
      <div class="container">
        <div class="logo">
          <a href="{% url 'home'%}" onclick="location.reload()" class="logo-link">Ftravel</a>
        </div>

        <nav class="nav">
          <ul class="nav-links">
            <li><a href="{% url 'home' %}">Trang chủ</a></li>
            <li><a href="{% url 'become_companion' %}">Trở thành Tour Companion</a></li>
            <li>
              <a href="{% url 'wishlist' %}"><i class="fa-regular fa-heart"></i> Wishlist</a>
            </li>
              {%if request.user.is_authenticated%}  
            <li class="profile-menu">
              <a href="{% url 'profile' %}" id="profileBtn"
                ><i class="fa-regular fa-user"></i> Profile</a>

              
              <div class="dropdown">
                <div class="dropdown-header">Profile</div>
                {% else %}
                <a href="{% url 'login'%}">Log in or sign up</a>
                {% endif %}
                <a href="#"
                  >Updates <span class="badge">Newest Version</span></a
                >
                <a href="#"
                  >Appearance <span class="right">Always dark</span></a
                >
                <a href="#">Support</a>
                <a href="#">Download the app</a>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    {% block body%}

    {%endblock%}
    
  </body>
</html>