{% load static %}

<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ftravel - Đặt tour du lịch</title>
    <link rel="stylesheet" href="assets/global.css" />
    <link rel="stylesheet" href="assets/home.css" />
    <!-- Flatpickr -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>
      flatpickr("#departureDate", {
        dateFormat: "d-m-Y",
        minDate: "today",
        locale: "vn",
      });
    </script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    
  </body>
</html>